$darkGreen: #01546b;
$lightBlue: #0ac6fc;

.welcome {
  background-image: url("../img/jumbotron-bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 18px 18px 142px 18px;

  .sm-nav {
    background-color: $darkGreen;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top: 72px;
    margin-bottom: 140px;

    h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 0 0 14px 0;
    }

    select {
      padding: 8px;
    }
  }

  .welcome-text {
    h1 {
      font-size: 2.5em;
      margin-bottom: 14px;
    }

    p {
      margin-bottom: 42px;
    }
    a {
      display: block;
      color: white;
      width: 120px;
      padding: 9px 14px;
      border-radius: 14px;
      margin-bottom: 14px;

      &.primary-link {
        background-color: $lightBlue;
      }

      &.secondary-link {
        background-color: none;
        border: 2px solid white;
      }
    }
  }
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
